<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p>ご利用ありがとうございました<br>
      またのご利用をお待ちしております！
      </p>
    </div>
  </div>
</div>