<% illusts.each do |illust| %>
    <tr>
   <td><%= link_to(illust.user) do %>
          <%= image_tag illust.user.image, size:'100x100' %>
          <% end %>
        </td>
    <td><%= link_to illust.illust_name,illust %></td>
    <td><%= render 'illusts/tag_list', tag_list: illust.tag_list %></td>


        　<!--<td id="favorite_buttons_%= illust.id %>">-->
    <td>
　　　<!--%= render "favorites/favorite", illust: illust %>-->
　　　</td>
　　</td>
     <!--<td><i class="fa-regular fa-comment"> %= "#{illust.illust_comments.count} "%></i></td>-->
      </tr>
      <% end %>