<% illusts.each do |illust| %>
    <tr>
    <td><%= link_to(illust.user) do %>
      <%= image_tag illust.user.get_profile_image, size:'50x50' %>
    </td>
    <td><%= link_to illust.illust_name,illust %></td>
    <td><%= render 'illusts/tag_list', tag_list: illust.tag_list %></td>
<% end %>

        　<!--<td id="favorite_buttons_%= illust.id %>">-->
    <td>
　　　<!--%= render "favorites/favorite", illust: illust %>-->
　　　</td>
　　</td>
     <!--<td><i class="fa-regular fa-comment"> %= "#{illust.illust_comments.count} "%></i></td>-->
      </tr>
      <% end %>