<!--%= render 'layouts/errors', obj: @book %>-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
      <h2>作品一覧</h2>
      <div class='col-md-8 offset-md-1'>
      <%= render 'index', illusts: @illusts%>
    </div>
  </div>
</div>
