<!--%= render 'layouts/errors', obj: @book %>-->
<div class='container px-5 px-sm-0'>
  <div class='row'>
      <h2>作品一覧</h2>
      <%= render 'index', illusts: @illusts%>
  </div>
  <!--タグリスト-->
<% @tag_list.each do |list|%>
<%=list.name %>
<%="(#{list.posts.count})" %><% end %>

<!--投稿一覧画面で投稿に紐づくタグを表示-->
<% @posts.each do |post| %>
<i class="fas fa-tag"><%= post.tags.map(&:name).join(', ') %></i>


</div>
